In [ ]:
import pandas as pd
import numpy as np

ZN: proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS: proportion of non-retail business acres per town
CHAS: Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
NOX: nitric oxides concentration (parts per 10 million)
1https://archive.ics.uci.edu/ml/datasets/Housing
123
20.2. Load the Dataset 124
RM: average number of rooms per dwelling
AGE: proportion of owner-occupied units built prior to 1940
DIS: weighted distances to ﬁve Boston employment centers
RAD: index of accessibility to radial highways
TAX: full-value property-tax rate per $10,000
PTRATIO: pupil-teacher ratio by town 12. B: 1000(Bk−0.63)2 where Bk is the proportion of blacks by town 13. LSTAT: % lower status of the population
MEDV: Median value of owner-occupied homes in $1000s

In [51]:
df=pd.read_csv("housing.csv",header=None)
df.head()

                                                   0
0   0.00632  18.00   2.310  0  0.5380  6.5750  65...
1   0.02731   0.00   7.070  0  0.4690  6.4210  78...
2   0.02729   0.00   7.070  0  0.4690  7.1850  61...
3   0.03237   0.00   2.180  0  0.4580  6.9980  45...
4   0.06905   0.00   2.180  0  0.4580  7.1470  54...

In [52]:
res=df.isnull()
res.describe()

            0
count     506
unique      1
top     False
freq      506

In [56]:
data=df
data=data.sample(random_state=123,frac=1)
print(data)

                                                     0
410  51.13580   0.00  18.100  0  0.5970  5.7570 100...
85    0.05735   0.00   4.490  0  0.4490  6.6300  56...
280   0.03578  20.00   3.330  0  0.4429  7.8200  64...
422  12.04820   0.00  18.100  0  0.6140  5.6480  87...
199   0.03150  95.00   1.470  0  0.4030  6.9750  15...
..                                                 ...
98    0.08187   0.00   2.890  0  0.4450  7.8200  36...
476   4.87141   0.00  18.100  0  0.6140  6.4840  93...
322   0.35114   0.00   7.380  0  0.4930  6.0410  49...
382   9.18702   0.00  18.100  0  0.7000  5.5360 100...
365   4.55587   0.00  18.100  0  0.7180  3.5610  87...

[506 rows x 1 columns]

In [ ]:
ind=len(df)
train=int(0.70*ind)
test=int(0.15*ind)
traindata=data[:train]
testdata=data[train:train+test]
valdata=data[train+test:]

354 75